<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Discover places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title> {{places[0].title}} </ion-card-title>
            <ion-card-subtitle>
              {{places[0].price | currency}} / NIGHT
            </ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="places[0].imageUrl"> </ion-img>
          <ion-content>
            <p>{{places[0].description}}</p>
          </ion-content>
          <div class="ion-text-right">
            <ion-button
              fill="clear"
              color="tertiary"
              [routerLink]="['/places/tabs/search',places[0].id]"
              (click)="onClick()"
            >
              More
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-list>
          <ion-item
            *ngFor="let place of places.slice(1)"
            [routerLink]="['/places/tabs/search',place.id]"
            detail
          >
            <ion-thumbnail>
              <ion-img [src]="place.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label class="ion-padding-start">
              <h2>{{place.title}}</h2>
              <p>{{place.description}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
