<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>{{ selectedPlace.title }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center ion-padding">
  <p>{{ selectedPlace.description }}</p>
  <ion-button (click)="onBookPlace()" expand="block" fill="clear" shape="round">
    Book
  </ion-button>
</ion-content>
