<ion-header translucent>
  <ion-toolbar>
    <ion-title> Ionic Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  The world is your oyster.
  <ion-button fill="outline" color="primary" (click)="onChangeText()"
    >Something</ion-button
  >
  <p>
    If you get lost, the
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://ionicframework.com/docs/components"
      >docs</a
    >
    will be your guide.
  </p>
  <p>{{text}}</p>
</ion-content>
